body {
    margin: 0;
}

.header {
    background: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.header__nav-logo {
    display: inline-block;
    padding: 10px;
}

.header__nav-logo input {
    width: 100%;
}

.header__nav-logout {
    border: none;
    background: none;
    color: #fff;
    font-size: 18px;
}

.headerlink-group {
    display: flex;
    gap: 30px;
    padding-top: 10px;
    margin: 0 20px;
}

.headerlink-group__mypage {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
}

.search {
    max-width: 500px;
    width: 100%;
    padding: 10px;
}

.search__box {
    width: 100%;
    padding: 10px;
}

.header__listing {
    background: #fff;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 4px;
}


