body {
    max-width: 1540px;
    min-width: 1400px;
}

.header__nav {
    background: #000;
}

.header__nav-list {
    display: flex;
    gap:20px;
    margin: 0;
    padding: 10px;
}

.header__nav-group {
    display: flex;
    justify-content: space-between;
    gap:20px;
    text-align: center;
    width: 80%;
}

.header__nav-list a {
    text-decoration: none;
    color: #fff;
}

.header__nav-title {
    font-size: 20px;
}