body {
    max-width: 1540px;
}

.header__nav {
    background: #000;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.header__nav-group {
    display: flex;
    justify-content: space-between;
    gap:20px;
    text-align: center;
}

.header__nav-logout {
    border: none;
    background: none;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
}

.header__nav-mypage {
    border: none;
    background: none;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
}

.header__nav-sarch {
    padding: 10px 0;
    width: 350px;
    margin-right: 100px;
    border-radius: 4px;
}
