.productlist__nav {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.product_list {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}

.product_card {
    margin-top: 50px;
    width: 270px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.product_card__img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.product_card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product_card__title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

