.productlist__nav {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.product_card {
    margin-top: 50px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.product_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

.product_card {
    margin: 20px auto;
}

.product_card__img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.product_card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.product_card__title {
   text-align: center;
}

@media (max-width: 1024px) {
    .product_list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .product_list {
        grid-template-columns: repeat(2, 1fr);
    }
}
